{% extends 'base.html' %}
{% block title %} 暫時的首頁 {% endblock %}
{% block content %}
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="../../static/css/index.css" rel="stylesheet">
   </head>
   <body>
        <div class="index_container">
            <h2 class="index_title">Newest Items</h2>
            <div class="grid_container">
                  {% for item in items %}
                     <div>
                        <a href="#">
                           <div>
                               <img src="{{item.image.url}}"
                               class="item_img">
                           </div>
                           <div class="img_titles">
                               <h2 style="font-size: 1.5rem;">{{item.name}}</h2>
                               <p style="color:darkgray">Price：
                                 {{item.price}}</p>
                           </div>
                        </a>
                     </div>
                  {% endfor %}
            </div>
        </div>
   </body>
</html>
{% endblock %}
