<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/base.css"> 
    <title>{% block title %}{% endblock %} | Shack Market</title>
<style>
    
</style>
</head>
<body>
    <nav class="nav">
        <a class="nav_link">Shack Market</a>
        <div class="nav_items">
             <a href="{% url 'item:new' %}" class="nav_items_link">新增產品</a>
             <a href="{% url 'item:items' %}" class="nav_items_link">Browse</a>
             <!-- 區分是否有註冊及登入 -->
             {% if request.user.is_authenticated %}
             <a href="#" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Inbox</a>
             <a href="{% url 'dashboard:index' %}"  class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">我的商品列表</a>
             {% else %}
             <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold
             bg-teal-500 text-white rounded-xl hover:bg-teal-700
             ">Sign Up</a>
             <a  href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold
             bg-gray-700 text-white rounded-xl hover:bg-gray-700
             ">LogIn</a>
             {% endif %}
        </div>
    </nav>
    <div class="px-6 py-7">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer_container">
        <div class="footer_left">
            <h3 href="#" class="footer_about">About</h3>
            <p class="footer_p">一些有關 Shack Market 的介紹都可以從這裡看到</p>
        </div>
        <div class="footer_right">
            <h3 href="#" class="footer_about">Menu</h3>
            <ul class="pace-y-2">
                <li >
                    <a href="#" class="footer_menu">About</a>
                </li>
                <li >
                    <a href="{% url 'core:contact' %}" class="footer_menu">Contact</a>
                </li>
                <li>
                    <a href="#" class="footer_menu">Privacy Policy</a>
                </li>
                <li >
                    <a href="#" class="footer_menu">Terms Of Uses</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>